<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <title><%= indexTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div>this is index page</div>
    <%- include('includes/body.ejs') %> <%- include('includes/script.ejs') %>
  </body>
</html>
