<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <title><%= indexTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="row">
        <nav class="col-2 col-md-2">
          <a class="blue" href="/"><i class="fas fa-dove"></i></a
          ><a href="/"><i class="fas fa-home"></i></a
          ><a href="/search"><i class="fas fa-search"></i></a
          ><a href="/notifications"><i class="fas fa-bell"></i></a
          ><a href="/messages"><i class="fas fa-envelope"></i></a
          ><a href="/profile"><i class="fas fa-user"></i></a
          ><a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        </nav>

        <div class="mainSectionContainer col-8 col-md-8">
          <h1>this is index page</h1>
          <p>Hello, <%=userLoggedIn.username %></p>
        </div>
        <div class="col-2">
          <span>third column</span>
        </div>
      </div>
    </div>

    <%- include('includes/script.ejs') %>
  </body>
</html>
