<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- login contents starts -->
      <div class="loginContainer">
        <h1>Login</h1>
        <form action="" ,method="post">
          <input
            type="text"
            name="logUsername"
            placeholder="Username or email"
            required=""
          />
          <input
            type="text"
            name="logPassword"
            placeholder="Password"
            required=""
          />
          <input type="submit" value="Login" />
        </form>
        <a href="/register">Need an account? Register here.</a>
        <!-- login contents ends -->
      </div>
    </div>
    <%- include('includes/body.ejs') %>
  </body>
</html>
