<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <title>Login登入</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- login contents starts -->
      <div class="loginContainer">
        <h1>Login登入</h1>
        <form method="post">
          <% if (typeof errorMessage !== 'undefined') { %>
          <div class="errorMessage"><%= errorMessage %></div>
          <% } %> <% if (typeof successMessage !== 'undefined') { %>
          <div class="successMessage"><%= successMessage %></div>
          <% } %>
          <input
            type="text"
            name="logUsername"
            placeholder="Username 使用者名稱"
            required=""
          />
          <input
            type="text"
            name="logPassword"
            placeholder="Password 密碼"
            required=""
          />
          <input type="submit" value="Login 登入" />
        </form>
        <a href="/register">Need an account還沒註冊? Register here.點我註冊</a>
        <!-- login contents ends -->
      </div>
    </div>
    <%- include('includes/script.ejs') %>
  </body>
</html>
