extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Login 登入
        form(method="post")

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Username 使用者名稱", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Password 密碼", required="")
            input(type="submit", value="Login 登入")
        a(href="/register") Need an account 還沒註冊? Register here.點我註冊