<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- register contents starts -->
      <div class="loginContainer">
        <h1>Register</h1>
        <form action="" ,method="post">
          <input
            type="text"
            name="FirstName"
            placeholder="first name"
            required=""
          />

          <input
            type="text"
            name="LastName"
            placeholder="last name"
            required=""
          />
          <input
            type="text"
            name="username"
            placeholder="Username"
            required=""
          />
          <input type="email" name="email" placeholder="Email" required="" />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required=""
          />
          <input
            type="password"
            name="passwordConf"
            placeholder="Confirm password"
            required=""
          />
          <input type="submit" value="Login" />
        </form>
        <a href="/login">Already have an account? Login here.</a>
        <!-- register contents ends -->
      </div>
    </div>
    <%- include('includes/body.ejs') %>
  </body>
</html>
